.damPlace::placeholder {
    font-weight: bold;
  }
  .custom-div {
    border: 1px solid black;
    text-align: center;
    color: white;
    justify-content: center;
  }
  :where(.css-dev-only-do-not-override-2i2tap).ant-input[type="color"] {
    height: 200px;
  }

  .icon-button{
    margin-bottom: 10px;
  }

  .type-product{
    margin-left: 1%;
  }

  .card-mau{
    height: 220px;
  }
  